<div class="container">
    <div class="page-header">
        <h1>
            Учет Лабораторных работ
        </h1>
        <h3> Пользователь: Vlad Shurin</h3>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="newSubjectName"/>
            <span class = "input-group-btn">
                <button class="btn btn-default" ng-click="diaryCtrl.addNewSubject(newSubjectName)"> Добавить </button>
            </span>
        </div>
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Лабораторные</th>
                    <th>Процентовка</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subject in diaryCtrl.diary.subjects">
                    <td>
                        <button type="button" class="btn btn-success" data-toggle = "modal" data-target="#descriptionSubject">
                            {{subject.name}}
                        </button>
                    </td>
                    <td>
                        <div ng-repeat = "lab in subject.labs" class="btn-group" >
                            <button type = "button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#descriptionLab">
                                {{lab.name}}
                            </button>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle btn-xs" type="button" data-toggle="dropdown">+
                            </button>
                            <ul class="dropdown-menu">
                                <div class="input-group">
                                    <input class="form-control" ng-model="newLabName"/>
                                    <span class = "input-group-btn">
					                    <button class="btn btn-default" ng-click="diaryCtrl.addNewLab(subject, newLabName)"> Add </button>
				                    </span>
                                </div>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{diaryCtrl.getPercentPasssedLabs(subject.labs)}}%">
                                {{diaryCtrl.getPercentPasssedLabs(subject.labs)}}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal" id = "descriptionSubject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-tittle">Описание предмета</h4>
                </div>
                <div class="modal-body" ng-repeat="subject in diaryCtrl.diary.subjects">
                    {{subject.description}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="descriptionLab">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-tittle">Описание Лабораторной</h4>
                </div>
                <div class="modal-body" ng-repeat="subject in diary.subjects">
                    <div ng-repeat="lab in subject.labs">
                        {{lab.description}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {{diaryCtrl.getJsonDiary()}}
</div>