
<h1>D a i l y L a b s</h1>
<div class="container" style="margin-top: 2%">

    <div class="panel">
        <div class="container">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="subject in diaryCtrl.diary.subjects">
                    <td class = "sub_size">
                        <panel panel-default>
                            <div class="panel-body">
                                <div class="subName">{{subject.name}}</div>
                                <div class="dropdown">
                                    <button class="glyphicon glyphicon-pencil" data-toggle="dropdown"></button>

                                    <div class="dropdown-menu">
                                        <div style="margin: 5%">
                                            <div ng-init="name=subject.name" class="form-group" >
                                                <label for="name">Name:</label>
                                                <input ng-model="name" type="text" class="form-control" id="name"
                                                       autofocus required>
                                            </div>
                                            <div ng-init="description=subject.description" class="form-group">
                                                <label for="dscr">Description:</label>
                                                <textarea ng-model="description" class="form-control" id="dscr"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button ng-click="diaryCtrl.updateSubject(subject, name, description)"
                                                        class="btn btn-success" type="submit">Save</button>
                                                <button ng-click="description=name=''" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown">

                                    <button class="glyphicon glyphicon-remove-circle" ng-click="diaryCtrl.deleteSubject(subject)"
                                            data-toggle="dropdown"></button>
                                </div>
                            </div>
                        </panel>
                    </td>

                    <td>
                        <div ng-repeat = "lab in subject.labs" class="btn-group" >



                            <div class="dropdown">
                                <button class="glyphicon glyphicon-pencil" data-toggle="dropdown"></button>

                                <div class="dropdown-menu">
                                    <div style="margin: 3%">
                                        <div ng-init="newLabName=lab.name" class="form-group" >
                                            <label for="lab-name">Name:</label>
                                            <input ng-model="newLabName" type="text" class="form-control" id="lab-name"
                                                   autofocus required>
                                        </div>
                                        <div ng-init="newLabDescription=lab.description" class="form-group">
                                            <label for="lab-dscr">Description:</label>
                                            <textarea ng-model="newLabDescription" class="form-control" id="lab-dscr"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="diaryCtrl.updateLab(lab, newLabName, newLabDescription)"
                                                    class="btn btn-success" type="submit">Save</button>
                                            <button ng-click="newLabDescription=newLabName=''"
                                                    class="btn btn-default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="glyphicon glyphicon glyphicon-remove-circle" data-toggle="dropdown"
                                        ng-click="diaryCtrl.deleteLab(subject, lab)"></button>

                            </div>

                            <button ng-click="diaryCtrl.switchPassed(lab)" type = "button" class="lab-passed-{{lab.passed}} labName"
                                    title="{{lab.description}}">
                                {{lab.name}}
                            </button>
                            <div>

                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="glyphicon glyphicon-plus" type="button" data-toggle="dropdown"></button>
                            <form class="dropdown-menu">
                                <div class="input-group"  style="margin: 3%">
                                    <input ng-model="newLabName" class="form-control"/>
                                    <div class = "input-group-btn">
                                        <button ng-click="diaryCtrl.addNewLab(subject, newLabName); newLabName=''"
                                                class="btn btn-success" type="submit"> Add </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="30"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{diaryCtrl.getPercentPasssedLabs(subject.labs)}}%">
                                {{diaryCtrl.getPercentPasssedLabs(subject.labs)}}
                            </div>
                        </div>
                    </td>
                </tr>

                <tr >
                    <td class="dropdown">

                        <button class="btn btn-success dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Add new subject
                        </button>
                        <ul class="dropdown-menu">
                            <div class="input-group">
                                <input class="form-control" ng-model="newSubjectName"/>
                                <span class = "input-group-btn">
                                <button class="btn btn-default" ng-click="diaryCtrl.addNewSubject(newSubjectName)"> Add </button>
                            </span>
                            </div>
                        </ul>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div>
        <button ng-click="diaryCtrl.save()" class="btn btn-success">Save</button>
        <div ng-if="diaryCtrl.diaryUpToDate" style="color:green">Already up to date</div>
        <div ng-if="!diaryCtrl.diaryUpToDate" style="color:red">Diary has changed</div>
    </div>
</div>

<div style="margin: 7%">
    <h3><strong>Model:</strong></h3>
    <div class="center-block col-md-6">
        {{diaryCtrl.getJsonDiary()}}
    </div>
</div>