<div class="container" style="margin-top: 5%">
    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="newSubjectName" placeholder="Name new subject"/>
            <span class = "input-group-btn">
                <button class="btn btn-default" ng-click="diaryCtrl.addNewSubject(newSubjectName)">Add</button>
            </span>
        </div>
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Subjects</th>
                    <th>Labs</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subject in diaryCtrl.diary.subjects">
                    <td>
                        <button type="button" class="btn btn-success" data-toggle = "modal" data-target="#descriptionSubject">
                            {{subject.name}}
                        </button>
                        <button type="button" class="btn btn-danger"
                                ng-click="diaryCtrl.deleteSubject(subject)">
                            Remove
                        </button>
                    </td>
                    <td>
                        <div ng-repeat = "lab in subject.labs" class="btn-group" >
                            <button ng-click="diaryCtrl.switchPassed(lab)" type = "button" class="lab-passed-{{lab.passed}}"
                                    title="{{lab.description}}">
                                {{lab.name}}
                            </button>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle btn-xs" type="button" data-toggle="dropdown">+
                            </button>
                            <ul class="dropdown-menu">
                                <div class="input-group">
                                    <input class="form-control" ng-model="newLabName"/>
                                    <span class = "input-group-btn">
					                    <button class="btn btn-default" ng-click="diaryCtrl.addNewLab(subject, newLabName)"> Add </button>
				                    </span>
                                </div>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{diaryCtrl.getPercentPasssedLabs(subject.labs)}}%">
                                {{diaryCtrl.getPercentPasssedLabs(subject.labs)}}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button ng-click="diaryCtrl.save()" class="btn btn-success">Save</button>
</div>

<div style="margin: 7%">
    <h3><strong>Model:</strong></h3>
    <div class="center-block col-md-6">
        {{diaryCtrl.getJsonDiary()}}
    </div>
</div>