<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/main-page.css">
</head>
<body>
<ul class = "main-menu">
    <li> <a href="#input">Sing in</a></li>
    <li> <a href="#reg">Sign up</a></li>
</ul>
<h1>DailyLabs</h1>
<p class = "copy">© Casanova-team 2017</p>
<form action="http://localhost:63342/dailylabs/static/index.html?_ijt=deq84e7paopvb9cfdvej5ull6f#/">
    <p><button class="new" >Add</button></p>
</form>

<!--<p>Get test diary: <a href="/api/test/diary.json">link</a></p>
<p>Send test Json-formatted diary to /api/test/diary.json in payload PUT reques to check your Json syntax</p>-->

</body>
</html>