<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="js/cookie-helper.js"></script>
    <script src="app/app.js"></script>
    <script src="app/diary/diary-service.js"></script>
    <script src="app/diary/diary-controller.js"></script>
    <link rel="stylesheet" href="app/diary/diary.css">

    <link rel="icon" type="image/png" href="./favicon.png">
</head>
<body>
<header>
    <div class="row">

        <nav id="main-nav-wrap">
        <div>
            <button type="button" class="btn btn-log" ng-click="diaryCtrl.logOut()">Log out</button>
        </div>
        </nav>

    </div>

</header> <!-- /header -->
<div ng-app="DailyLabsApp" ng-controller="DiaryController as diaryCtrl" class="container" style="margin-top: 5%">
    <div>

        <div>
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="subject in diaryCtrl.diary.subjects">
                    <td class="sub_size">
                        <panel panel-default>
                            <div class="panel-body">
                                <div class="subName">{{subject.name}}</div>
                                <div class="dropdown">
                                    <button class="glyphicon glyphicon-pencil" data-toggle="dropdown"></button>

                                    <div class="dropdown-menu">
                                        <div style="margin: 5%">
                                            <div ng-init="name=subject.name" class="form-group">
                                                <label for="name">Name:</label>
                                                <input ng-model="name" type="text" class="form-control" id="name"
                                                       autofocus required>
                                            </div>
                                            <div ng-init="description=subject.description" class="form-group">
                                                <label for="dscr">Description:</label>
                                                <textarea ng-model="description" class="form-control"
                                                          id="dscr"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button ng-click="diaryCtrl.updateSubject(subject, name, description)"
                                                        class="btn btn-success" type="submit">Save
                                                </button>
                                                <button ng-click="description=name=''" class="btn btn-default">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown">

                                    <button class="glyphicon glyphicon-remove-circle"
                                            ng-click="diaryCtrl.deleteSubject(subject)"
                                            data-toggle="dropdown"></button>
                                </div>
                            </div>
                        </panel>
                    </td>

                    <td>
                        <div>
                            <div ng-repeat="lab in subject.labs" class="btn-group" role="group" aria-label="...">
                                <div class="dropdown">
                                    <button class="glyphicon glyphicon-pencil" data-toggle="dropdown"></button>

                                    <div class="dropdown-menu">
                                        <div style="margin: 3%">
                                            <div ng-init="newLabName=lab.name" class="form-group">
                                                <label for="lab-name">Name:</label>
                                                <input ng-model="newLabName" type="text" class="form-control"
                                                       id="lab-name"
                                                       autofocus required>
                                            </div>
                                            <div ng-init="newLabDescription=lab.description" class="form-group">
                                                <label for="lab-dscr">Description:</label>
                                                <textarea ng-model="newLabDescription" class="form-control"
                                                          id="lab-dscr"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button ng-click="diaryCtrl.updateLab(lab, newLabName, newLabDescription)"
                                                        class="btn btn-success" type="submit">Save
                                                </button>
                                                <button ng-click="newLabDescription=newLabName=''"
                                                        class="btn btn-default">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <button class="glyphicon glyphicon glyphicon-remove-circle" data-toggle="dropdown"
                                            ng-click="diaryCtrl.deleteLab(subject, lab)"></button>
                                </div>

                                <a ng-click="diaryCtrl.switchPassed(lab)" role="group">
                                    <button class="lab-passed-{{lab.passed}}">{{lab.name}}</button>
                                </a>
                            </div>

                            <div class="dropdown" role="group">
                                <button class="btn btn-lab" type="button"
                                        data-toggle="dropdown" role="group">Add new lab
                                </button>
                                <form class="dropdown-menu">
                                    <div class="input-group" style="margin: 3%">
                                        <input ng-model="newLabName" class="form-control"/>
                                        <div class="input-group-btn">
                                            <button ng-click="diaryCtrl.addNewLab(subject, newLabName); newLabName=''"
                                                    class="btn btn-success" type="submit"> Add
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="progress">
                                <div style="width:{{ diaryCtrl.getPercentPasssedLabs(subject.labs) }}%"
                                     class="progress-bar" role="progressbar" aria-valuenow="30"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{diaryCtrl.getPercentPasssedLabs(subject.labs)}}
                            </div>
                        </div>
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="panel-drop">
                    <td class="dropdown">

                        <button class="btn btn-sub" type="button" data-toggle="dropdown">Add
                            new subject
                        </button>
                        <ul class="dropdown-menu">
                            <div class="input-group">
                                <input class="form-control" ng-model="newSubjectName"/>
                                <span class="input-group-btn">
                                <button class="btn btn-default"
                                        ng-click="diaryCtrl.addNewSubject(newSubjectName)"> Add </button>
                            </span>
                            </div>
                        </ul>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div>
        <button ng-click="diaryCtrl.save()" class="btn btn-success btn-save">Save</button>
        <div ng-if="diaryCtrl.diaryUpToDate" style="color:green">Already up to date</div>
        <div ng-if="!diaryCtrl.diaryUpToDate" style="color:red">Diary has changed</div>
    </div>
</div>
</body>

