
<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div id="logo-container"></div>
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <form action="" id="loginForm">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-model="username" class="form-control" type="text" name='username' placeholder="Username"/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-model="password" class="form-control" type="password" name='password' placeholder="Password"/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-model="password_confirm" class="form-control" type="password" name='password' placeholder="Password confirmation"/>
                    </div>
                    <div class="form-group">
                        <button  ng-click="regCtrl.register(username, password, password_confirm)" type="button" class="btn btn-def btn-block">Sign up
                        </button>
                    </div>

                    <a href="#/login">Sign in</a>
                </form>
            </div>
        </div>
    </div>
</div>


