body {
    background-image:url('/image/background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.subName{
  font-family: Broadway;
    font-weight: bold;
    font-size: 20px;

}
.table {

}
.sub_size{
    width: 230px;
}

td:nth-child(1){
    border-right: 1px solid gray;
}
.subName{
    display: inline-block;
}

.btn-group .glyphicon-remove-circle{
    display: inline-block;
    float: left;
}

.btn-group{
    margin: 5px;
}

.btn-group .glyphicon-pencil{
    display: inline-block;
    float: left;
}

button.labName{
    width: 60px;
    height: 30px;
    overflow-x:hidden;
}
.panel-body{
    margin: 5px;
}
.panel-body .glyphicon-remove-circle {
    display: inline-block;
    left: 115px;
    float: left;
    bottom: 20px;

}

.panel-body .glyphicon-pencil{
    display: inline-block;
    left: 110px;
    float: left;
    bottom: 20px;

}

h3, .col-md-6{
    display: none;
}


