body{
    background: url("../image/background_mac.jpg") no-repeat scroll;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.main-title {
    font-size: 300%;
    font-family: Arial;
    font-style: italic;
    vertical-align: bottom;
    color: black;
}

.copy{
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    color: white;
    width: 100%;
}
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

.main-menu a
{
    text-decoration: none;
    padding: 10px 15px;
    margin-left: -5px;
    display: block;
    color: #0f0f0f;
}
.main-menu a:hover {
    background: #f5f5f5;
}

button.new {
    /*background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));-*/
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 10px 15px;
    color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}

button.new:hover{
    background: #f5f5f5;

}

.registration{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 110px 0px 0px 850px;
    background-color: rgba(255, 255, 255, 0.5);
}


ul {
    list-style: none;
    margin: 0 auto;
    display: flex;
}
a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

i {
    margin-right: 10px;
}
nav {
    display: block;
    width: 100%;
    margin: 0 auto 30px;
}

.menu ul {
    display: -webkit-flex;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 85%;

}

.menu a {
    padding: 1em;
    display: block;
    color: black;
    border-right: 1px solid white;
    background: rgba(255, 255, 255, 0.5);
}
.menu a:hover {background: lightgreen}