div.well{
    height: 250px;
}

.input-group-addon{
    background-color: #05bca9;
}

hr{
    color: white;
    background-color: white;
    height: 1px;
}


.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 100px;
    max-width: 420px;
    padding: 42px;
}

#log{
    background-color: rgba(0, 0, 0, 0.11);
}

#logo-container{
    margin: auto;
}


.btn {
    display: inline-block;
    background-color: #05bca9;
    color: white;
}

.btn:hover {
    color: white;
}


/**
 * ===================================================================
 * preloader
 */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0F1215;
    z-index: 9999999;
    height: 100%;
    width: 100%;
}
.no-js #preloader, .oldie #preloader {
    display: none;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    background-color: #05bca9;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}