
<div class="col-md-3">
    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input ng-model="username" id="email" type="text" class="form-control" name="email" placeholder="Username">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input ng-model="password" id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-control">
            {{loginCtrl.message}}
        </div>
        <button ng-click="loginCtrl.login(username, password)" type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
